*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    min-height: 100vh;
    font-family: Lato, Helvetica, sans-serif;
    background: linear-gradient(to right, #3600c9, #080808);
    padding: clamp(20px, 5vw, 50px) 10px 10px;
}